html{
    font-family: sans-serif;
}

.ms_bg_pill{
    background-color: #165bba;
}

aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    height: 100%;
}

main {
    margin-top: 54px;
    height: calc(100vh - 54px);
}

main .container-fluid{
    height: calc(100vh - 54px);
}

.offcanvas.offcanvas-end.show{
    width: 600px;
}

.ms_header_main{
    background-color: #1b72e8;
    width: 100%;
}

.ms_logo_small{
    display: none;
}

.ms_class_avatar{
    width: 40px;
    height: 40px;
}

.ms_hover_aside{
    width: 100px;
}

 .ms_hover_aside:hover .ms_bg_op{
    background-color: rgba(255, 255, 225, 0.3);
}

@media all and (max-width: 576px) {
    .ms_logo_small{
        margin-left: 20px;
        width: 35px;
        height: 35px;
        display: inline-block;
    }

    .ms_logo_big{
        display: none;
    }

    .ms_hidden{
        display: none;
    }

    aside{
        width: 75px;
    }

    main .container-fluid{
        width: calc(100% - 75px);
    }

    .ms_order_first{
        order: 1;
    }
    .ms_order_third{
        order: -1;
    }
    .ms_bc_none{
        display: none;
    }
    .ms_bc_show{
        display: block;
    }

    .ms_hover_aside{
        width: 30px;
    }

}

@media all and (min-width: 576px) {
    aside {
        width: 150px;
    }

    main .container-fluid {
        width: calc(100% - 150px);
    }
}